Adafruit-Blinka==8.39.1
adafruit-circuitpython-adxl34x
adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-connectionmanager==2.0.0
adafruit-circuitpython-framebuf==1.6.5
adafruit-circuitpython-neopixel==6.3.11
adafruit-circuitpython-pixelbuf==2.0.4
adafruit-circuitpython-requests==4.1.2
adafruit-circuitpython-ssd1306==2.12.17
adafruit-circuitpython-typing==1.10.3
Adafruit-PlatformDetect==3.62.0
Adafruit-PureIO==1.1.11
anyascii==0.3.2
async-timeout==4.0.3
aubio==0.4.9
buttonshim==0.0.2
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
colorzero==2.0
distro==1.9.0
gpiozero==2.0.1
idna==3.7
lgpio==0.2.2.0
markovify==0.9.4
numpy==1.26.4
pigpio==1.78
pillow==10.3.0
PyAudio==0.2.14
pyftdi==0.55.4
pyserial==3.5
python-apt==2.6.0
pyusb==1.2.1
PyYAML==6.0.1
redis==5.0.4
requests==2.31.0
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
six==1.16.0
smbus==1.1.post2
smbus2==0.4.3
sounddevice==0.4.6
spidev==3.6
ssh-import-id==5.11
sysv-ipc==1.1.0
toml==0.10.2
typing_extensions==4.11.0
urllib3==2.2.1
