Adafruit-Blinka==8.32.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-framebuf==1.6.5
adafruit-circuitpython-neopixel==6.3.11
adafruit-circuitpython-pixelbuf==2.0.4
adafruit-circuitpython-requests==2.0.5
adafruit-circuitpython-ssd1306==2.12.16
adafruit-circuitpython-typing==1.10.2
Adafruit-PlatformDetect==3.60.0
Adafruit-PureIO==1.1.11
async-timeout==4.0.3
aubio==0.4.9
buttonshim==0.0.2
certifi==2022.9.24
chardet==5.1.0
charset-normalizer==3.0.1
colorzero==2.0
distro==1.8.0
gpiozero==2.0
idna==3.3
lgpio==0.2.2.0
numpy==1.24.2
pigpio==1.78
pillow==10.2.0
PyAudio==0.2.14
pyftdi==0.55.0
pyserial==3.5
python-apt==2.6.0
pyusb==1.2.1
PyYAML==6.0.1
redis==5.0.1
requests==2.31.0
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1a4
scipy==1.12.0
six==1.16.0
smbus==1.1.post2
smbus2==0.4.2
spidev==3.5
ssh-import-id==5.10
sysv-ipc==1.1.0
toml==0.10.2
typing_extensions==4.10.0
urllib3==1.26.12
