@import "emf.css";

@font-face {
  font-family: "Comic Shanns";
  src: url("../fonts/comic-shanns.ttf") format("truetype");
}

:root {
  --r-background-color: var(--colour-green-dark);
  --r-heading-color: var(--colour-orange);
  --r-link-color: var(--colour-yellow);
  --r-main-color: var(--colour-green-pale);

  --r-code-font: "Comic Shanns";
  --r-heading-font: var(--font-primary);
  --r-main-font: var(--font-primary);

  --r-heading-font-weight: 600;
  --r-heading2-size: 3.5rem;
}


hr {
  border-color: var(--colour-green-mid);
}

img {
  border: 0.2rem solid var(--colour-pink);
  height: 30vh;
}

.spacer {
  height: 50vh;
}

.hljs {
  background-color: transparent
}

.reveal pre {
  box-shadow: none;
}

code,
.hljs-number {
  color: var(--colour-blue);
}

.hljs-attr,
.hljs-string {
  color: var(--colour-pink);
}

.reveal {
  background-image: var(--logotext);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 15rem;
}
