@import "emf.css";
@import "https://fonts.googleapis.com/css2?family=Anonymous Pro";

:root {
  --r-background-color: var(--colour-green-dark);
  --r-heading-color: var(--colour-yellow);
  --r-link-color: var(--colour-pink);
  --r-main-color: var(--colour-green-pale);

  --r-code-font: var(--font-code);
  --r-heading-font: var(--font-primary);
  --r-main-font: var(--font-primary);

  --r-heading-font-weight: 600;
  --r-heading2-size: 3.5rem;
}

hr {
  border-color: var(--colour-orange);
}

img {
  border: 0.2rem solid var(--colour-orange);
  height: 50vh;
}

.spacer {
  height: 50vh;
}

code,
.hljs-number {
  color: var(--colour-blue);
}

.hljs-attr,
.hljs-string {
  color: var(--colour-pink);
}

.reveal {
  background-image: var(--logotext);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 15rem;
}
