[Unit]
Description=Hat Manager

[Service]
User=pi
WorkingDirectory=/home/pi/hatlights
Environment=PYTHONDONTWRITEBYTECODE=1
ExecStart=/bin/bash -lc 'sudo python run_manager.py'
Restart=always
StandardInput=null
StandardOutput=file:/var/log/hatlights/manager.log
StandardError=file:/var/log/hatlights/manager.err
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
