[Unit]
Description=Hat Modes

[Service]
User=pi
WorkingDirectory=/home/pi/hatlights
Environment=PYTHONDONTWRITEBYTECODE=1
ExecStart=/bin/bash -lc 'sudo python run_modes.py'
Restart=always
StandardInput=null
StandardOutput=file:/var/log/hatlights/modes.log
StandardError=file:/var/log/hatlights/modes.err
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
